<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.system.dao.PatientMapper">
    <resultMap id="PatientResultMap" type="cc.mrbird.febs.system.domain.Patient">
        <id column="id" property="id" />
        <result column="hospital_id" property="hospitalId" />
        <result column="department_id" property="departmentId" />
        <result column="name" property="name" />
        <result column="id_card" property="idCard" />
        <result column="gender" property="gender" />
        <result column="birthday" property="birthday" />
        <result column="his_id" property="hisId" />
        <result column="code" property="code" />
        <result column="created_by" property="createdBy" />
        <result column="created_at" property="createdAt" />
        <result column="updated_by" property="updatedBy" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 可选：自定义SQL，如果用MyBatis-Plus可省略 -->
</mapper> 