<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.system.dao.StandardPrescriptionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cc.mrbird.febs.system.domain.StandardPrescription">
        <id column="standard_pres_id" property="standardPresId"/>
        <result column="indication1" property="indication1"/>
        <result column="indication2" property="indication2"/>
        <result column="indication3" property="indication3"/>
        <result column="indication_keyword" property="indicationKeyword"/>
        <result column="pres_freq" property="presFreq"/>
        <result column="last_time" property="lastTime"/>
        <result column="last_count" property="lastCount"/>
        <result column="pause_time" property="pauseTime"/>
        <result column="repeat_count" property="repeatCount"/>
        <result column="total_time" property="totalTime"/>
        <result column="pres_part_id" property="presPartId"/>
        <result column="pres_part" property="presPart"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="evidence_level" property="evidenceLevel"/>
        <result column="provenance" property="provenance"/>
        <result column="built_in" property="builtIn"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        standard_pres_id, indication1, indication2, indication3, indication_keyword, pres_freq, 
        last_time, last_count, pause_time, repeat_count, total_time, pres_part_id, pres_part,
        is_deleted, evidence_level, provenance, built_in
    </sql>

</mapper> 